---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [2]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [3]:
names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [4]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [5]:
max_gold = df["Gold"].max()

In [6]:
max_gold = df.where(df["Gold"] == max_gold).dropna()
max_gold

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
United States,26.0,976.0,757.0,666.0,2399.0,22.0,96.0,102.0,84.0,282.0,48.0,1072.0,859.0,750.0,2681.0,USA

In [7]:
type(max_gold)

pandas.core.frame.DataFrame

In [8]:
max_gold.iloc[0]

# Summer            26
Gold               976
Silver             757
Bronze             666
Total             2399
# Winter            22
Gold.1              96
Silver.1           102
Bronze.1            84
Total.1            282
# Games             48
Gold.2            1072
Silver.2           859
Bronze.2           750
Combined total    2681
ID                 USA
Name: United States, dtype: object

In [9]:
type(max_gold.iloc[0])

pandas.core.series.Series

In [10]:
#turn into Series object
#to get attribute "name" of a series.
max_gold.iloc[0].name

'United States'

In [11]:
def answer_one():
   max_gold = df["Gold"].max()
#dataframe obkect like the original one.
   country_gold = df[df["Gold"] == max_gold]
   
   #string
   return country_gold.iloc[0].name

answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [12]:
diff = df["Gold"]  - df["Gold.1"]
df["G-S_diff"] = diff

In [13]:
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,G-S_diff
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG,0
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG,5
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG,18
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM,1
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ,3
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS,134
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT,-41
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE,6
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH,5
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN,0
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR,0
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR,6
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL,36
Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,BER,0
Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,BOH,0
Botswana,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,BOT,0
Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,BRA,23
British West Indies,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,BWI,0
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL,50
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI,1
Cameroon,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,CMR,3
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN,-3
Chile,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,CHI,2
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN,189
Colombia,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,COL,2
Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,CRC,1
Ivory Coast,12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,CIV,0
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO,2
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB,72
Cyprus,9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,CYP,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP,36
Sri Lanka,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,SRI,0
Sudan,11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,SUD,0
Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,SUR,1
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE,93
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI,-3
Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,SYR,1
Chinese Taipei,13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,TPE,2
Tajikistan,5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,TJK,0
Tanzania,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,TAN,0
Thailand,15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,THA,7
Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,TOG,0
Tonga,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,TGA,0
Trinidad and Tobago,16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,TRI,2
Tunisia,13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,TUN,3
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR,39
Uganda,14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,UGA,2
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR,31
United Arab Emirates,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,UAE,1
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA,880
Uruguay,20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,URU,2
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB,4
Venezuela,17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,VEN,2
Vietnam,14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,VIE,0
Virgin Islands,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,ISV,0
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG,26
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP,0
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM,0
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM,3
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX,8

In [14]:
df["G-S_diff"].max()

880

In [15]:
def answer_two():
    diff = df["Gold"]  - df["Gold.1"]
    df["G-S_diff"] = diff
    max_diff = df["G-S_diff"].max()
    cntry_series = df.where(df["G-S_diff"] == max_diff).dropna()
    cntry = cntry_series.iloc[0].name
    return cntry
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [16]:
dfC = df.copy();
dfC = dfC[((dfC["Gold"] > 0) & (dfC["Gold.1"] > 0) )]

In [17]:
dfC.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,G-S_diff
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS,134
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT,-41
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR,6
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL,36
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL,50

In [18]:
def answer_three():
    dfC = df.copy();
    dfC = dfC[(dfC["Gold"] > 0) & (dfC["Gold.1"] > 0)]
    diff = (dfC["Gold"]  - dfC["Gold.1"])/dfC["Gold.2"]
    dfC["G-S_diff_to_Total"] = diff
    max_diff = dfC["G-S_diff_to_Total"].max()
    cntry_series = dfC.where(dfC["G-S_diff_to_Total"] == max_diff).dropna()
    cntry = cntry_series.iloc[0].name
    return cntry
answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [19]:
def answer_four():
    points = df["Gold.2"] * 3 + df ["Silver.2"] * 2 + df["Bronze.2"] + 1
    df["Points"] = points
    #max_diff = df["G-S_diff_to_Total"].max()
    #cntry_series = df.where(df["G-S_diff_to_Total"] == max_diff).dropna()
    #cntry = cntry_series.iloc[0].name
    
    new_df = df["Points"]
    return new_df
answer_four()

Afghanistan                            3
Algeria                               28
Argentina                            131
Armenia                               17
Australasia                           23
Australia                            924
Austria                              570
Azerbaijan                            44
Bahamas                               25
Bahrain                                2
Barbados                               2
Belarus                              155
Belgium                              277
Bermuda                                2
Bohemia                                6
Botswana                               3
Brazil                               185
British West Indies                    3
Bulgaria                             412
Burundi                                4
Cameroon                              13
Canada                               847
Chile                                 25
China                               1121
Colombia                              30
Costa Rica                             8
Ivory Coast                            3
Croatia                               68
Cuba                                 421
Cyprus                                 3
                                    ...
Spain                                269
Sri Lanka                              5
Sudan                                  3
Suriname                               5
Sweden                              1218
Switzerland                          631
Syria                                  7
Chinese Taipei                        33
Tajikistan                             5
Tanzania                               5
Thailand                              45
Togo                                   2
Tonga                                  3
Trinidad and Tobago                   28
Tunisia                               20
Turkey                               192
Uganda                                15
Ukraine                              221
United Arab Emirates                   4
United States                       5685
Uruguay                               17
Uzbekistan                            39
Venezuela                             19
Vietnam                                5
Virgin Islands                         3
Yugoslavia                           172
Independent Olympic Participants       5
Zambia                                 4
Zimbabwe                              19
Mixed team                            39
Name: Points, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [20]:
census_df = pd.read_csv('census.csv')
census_df.head(170)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,50,3,7,5,51,Arkansas,Garland County,96024,96000,96128,...,6.205540,4.560473,7.285711,4.449228,2.058015,6.247049,4.643202,7.388908,4.624313,2.243237
141,50,3,7,5,53,Arkansas,Grant County,17853,17853,17890,...,3.347467,3.055980,-1.329787,2.543263,-2.705912,3.849587,3.500486,-0.886525,3.096146,-2.153685
142,50,3,7,5,55,Arkansas,Greene County,42090,42090,42188,...,11.069111,7.008067,-3.895652,12.233473,7.597384,11.351727,7.357307,-3.524638,12.717282,8.075064
143,50,3,7,5,57,Arkansas,Hempstead County,22609,22609,22602,...,-6.295024,-10.964521,-1.161570,-7.602012,-14.098782,-6.694004,-11.231949,-1.384949,-7.780883,-14.278958
144,50,3,7,5,59,Arkansas,Hot Spring County,32923,32923,33128,...,-3.385680,11.324278,1.976462,-0.479429,3.205560,-3.325222,11.384513,2.126194,-0.329608,3.355353
145,50,3,7,5,61,Arkansas,Howard County,13789,13789,13799,...,-0.941415,-12.142805,-13.238214,-7.193978,-13.452915,-0.651749,-12.070094,-13.091123,-7.045648,-13.228700
146,50,3,7,5,63,Arkansas,Independence County,36647,36647,36806,...,-1.683936,0.189784,-3.576460,4.273735,-0.242872,-0.733327,0.704913,-2.980384,5.004057,0.539716
147,50,3,7,5,65,Arkansas,Izard County,13696,13696,13684,...,-2.787763,0.000000,-3.495723,12.508376,3.118850,-2.494314,0.221451,-3.272592,12.806195,3.490142
148,50,3,7,5,67,Arkansas,Jackson County,17997,17998,18049,...,-9.415829,-10.426353,3.286678,-6.769441,-7.003243,-9.360114,-10.369995,3.343344,-6.655669,-6.888436
149,50,3,7,5,69,Arkansas,Jefferson County,77435,77435,77323,...,-19.941701,-20.140599,-20.612278,-12.670405,-12.421670,-19.798235,-19.808684,-20.233326,-12.230651,-11.977046
150,50,3,7,5,71,Arkansas,Johnson County,25540,25540,25553,...,1.366067,2.209731,-3.435895,-2.311337,0.000000,3.083408,3.682884,-1.814462,-0.616357,1.687311
151,50,3,7,5,73,Arkansas,Lafayette County,7645,7645,7636,...,-7.643144,-9.611534,-15.661174,-17.115425,-16.709148,-7.379588,-9.478040,-15.524990,-16.837125,-16.425942
152,50,3,7,5,75,Arkansas,Lawrence County,17415,17411,17501,...,-9.429081,-11.303714,2.698105,-1.762477,-10.010662,-9.256597,-11.187181,2.874069,-1.586229,-9.832958
153,50,3,7,5,77,Arkansas,Lee County,10424,10424,10374,...,-10.366208,-9.009450,-12.722393,-22.069245,-12.347584,-10.269328,-9.009450,-12.722393,-21.968010,-12.244688
154,50,3,7,5,79,Arkansas,Lincoln County,14134,14134,14074,...,17.038654,-14.537027,-4.755821,-5.212238,-10.358967,17.109061,-14.537027,-4.755821,-5.212238,-10.358967
155,50,3,7,5,81,Arkansas,Little River County,13171,13168,13137,...,-10.118044,-1.391842,-14.350335,-17.257075,-4.399472,-10.118044,-1.469167,-14.428326,-17.336236,-4.479462
156,50,3,7,5,83,Arkansas,Logan County,22353,22353,22315,...,-1.434978,-13.411000,3.357151,-4.591222,-7.333899,-1.345291,-13.275535,3.493252,-4.409392,-7.150551
157,50,3,7,5,85,Arkansas,Lonoke County,68356,68354,68711,...,4.111533,2.436595,3.733542,2.600671,-5.030287,5.313142,4.615197,5.323491,4.217304,-3.241740
158,50,3,7,5,87,Arkansas,Madison County,15717,15720,15693,...,0.191192,-6.577267,1.659645,-0.509181,-2.350027,0.446116,-6.130268,2.106473,0.063648,-1.778399
159,50,3,7,5,89,Arkansas,Marion County,16653,16653,16660,...,4.682997,1.743574,-2.843917,3.105874,-4.603204,4.983189,2.044191,-2.541373,3.471271,-4.234948
160,50,3,7,5,91,Arkansas,Miller County,43462,43462,43540,...,1.054006,-6.179692,-7.626311,-2.092748,4.688661,0.962354,-6.225467,-7.649282,-2.115745,4.665790
161,50,3,7,5,93,Arkansas,Mississippi County,46480,46480,46389,...,-10.602848,-14.827108,-20.717696,-14.315733,-14.860259,-10.234994,-14.324864,-20.141589,-13.619049,-14.155874
162,50,3,7,5,95,Arkansas,Monroe County,8149,8150,8123,...,-8.030640,-26.284349,-15.224824,-5.766332,-20.937521,-8.030640,-26.284349,-15.224824,-5.766332,-20.937521
163,50,3,7,5,97,Arkansas,Montgomery County,9487,9487,9491,...,-6.356942,0.106906,-9.170353,-9.724119,-5.980398,-6.674789,0.000000,-9.278239,-9.833379,-6.091146
164,50,3,7,5,99,Arkansas,Nevada County,8997,8997,8974,...,3.892782,-9.153829,-15.031646,-9.147562,-15.294595,3.892782,-9.153829,-15.031646,-9.147562,-15.294595
165,50,3,7,5,101,Arkansas,Newton County,8330,8330,8329,...,-5.178851,-21.023040,3.712412,-18.766421,2.780762,-5.178851,-21.023040,3.712412,-18.766421,2.780762
166,50,3,7,5,103,Arkansas,Ouachita County,26120,26121,26076,...,-13.978453,-11.778286,-13.822414,-5.226236,-14.894093,-13.746766,-11.347851,-13.345779,-4.703612,-14.365068
167,50,3,7,5,105,Arkansas,Perry County,10445,10441,10455,...,-7.674229,-3.666184,3.192107,-11.079256,-3.132955,-7.578301,-3.473227,3.482298,-10.787696,-2.839240
168,50,3,7,5,107,Arkansas,Phillips County,21757,21757,21668,...,-15.138499,-31.456090,-17.209110,-27.948075,-20.855534,-15.045624,-31.408644,-17.160497,-27.848792,-20.754047
169,50,3,7,5,109,Arkansas,Pike County,11291,11291,11271,...,-4.620785,3.555714,-8.221994,-6.964859,-11.916220,-4.620785,3.466821,-8.132624,-6.874406,-11.824557

In [22]:
def answer_five():
    
    return census_df["STNAME"].value_counts().argmax()
answer_five()

'Texas'

In [20]:
 ### Question 6
# Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.
# 
# *This function should return a list of string values.*

In [21]:
def answer_six():
    cols = ['STNAME', 'CTYNAME','CENSUS2010POP']
    new = census_df[cols].where(census_df["STNAME"]!=census_df["CTYNAME"]).dropna()
    return new.groupby('STNAME')["CENSUS2010POP"].apply(lambda x: x.nlargest(3).sum()) .nlargest(3).index.tolist()
answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [22]:
rows = ['POPESTIMATE2010',
        'POPESTIMATE2011',
        'POPESTIMATE2012',
        'POPESTIMATE2013',
        'POPESTIMATE2014',
        'POPESTIMATE2015']

In [23]:
copy = census_df.where(census_df["STNAME"]!= census_df["CTYNAME"]).dropna()

In [24]:
argmax = (copy[rows].max(axis = 1) - copy[rows].min(axis = 1)).argmax()

In [100]:
copy.loc[argmax]["CTYNAME"]

'Harris County'

In [101]:
def answer_seven():
    rows = ['POPESTIMATE2010',
        'POPESTIMATE2011',
        'POPESTIMATE2012',
        'POPESTIMATE2013',
        'POPESTIMATE2014',
        'POPESTIMATE2015']
    copy = census_df.where(census_df["STNAME"]!= census_df["CTYNAME"]).dropna()
    argmax = (copy[rows].max(axis = 1) - copy[rows].min(axis = 1)).argmax()
    return  copy.loc[argmax]["CTYNAME"]
answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [28]:
census_df["CTYNAME"].values

array(['Alabama', 'Autauga County', 'Baldwin County', ..., 'Uinta County',
       'Washakie County', 'Weston County'], dtype=object)

In [55]:
census_df[( (census_df["REGION"]==1) | (census_df["REGION"]==2) )
& (census_df['CTYNAME'] == 'Washington County')
& (census_df['POPESTIMATE2015'] > census_df['POPESTIMATE2014']) ] [['STNAME','CTYNAME']]

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

In [59]:
def answer_eight():
   
 dfr = census_df[( (census_df["REGION"]==1) | (census_df["REGION"]==2) )
& (census_df['CTYNAME'] == 'Washington County')
& (census_df['POPESTIMATE2015'] > census_df['POPESTIMATE2014']) ] [['STNAME','CTYNAME']]
 return dfr

answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County